header {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 1200;
}

h2 {
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 600;
}

body {
    font-family: "Times New Roman", Courier, monospace; 
    font-size:larger;
    /* margin-left: 1em; */
}